@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using System.Security.Claims;
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
            <li class="nav-item">
                <a  class="nav-link text-dark" title="Manage">Hello @User.Identity?.Name!</a>
                           
            </li>  
            <li class="nav-item">
                 <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                           
            </li> 
            <li class="nav-item">
                <a class="dropdown-item"  asp-controller="User" asp-action="Edit"
               asp-route-id="@(User.FindFirstValue(ClaimTypes.NameIdentifier))">Edit Profile</a>
                           
            </li> 
            <li class="nav-item">
                 <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                           
            </li>  
    }
    else
    {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
            </li>
    }
</ul>


  
